body {
  text-align: center;
  margin: 3em 1em 3em 1em;
  background-color: #595959;
  color: #999999;
}
h1 {
  font-size: 1in;
  padding: 20px 0px 0px 0px;
}
h5 {
  padding: 3em 0px 3em 0px;
  color: #808080;
}
small {
  color: #737373;
}
.description {
  font-size: 2em;
  text-align: center;
}
.mainarea {
  margin: 15em 30px 0px 30px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 80px;
  background-color: #262626;
  border-radius: 80px;
  transition: all 0.3s;
  transform: rotate(270deg);
  margin: 0px 2em 0px 2em;
}
.switch::after {
  content: '';
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius:50%;
  background-color: #999999;
  background-image: url(./Clap.png);
  background-size: 100%;
  top: 4px;
  left: 4px;
  transition: all 0.5s;
}

.checkbox:checked + .switch::after {
  left : 84px;
  background-image: url(./Bow.png);
  background-size: 100%;
}
.checkbox:checked + .switch {
  background-color: #262626;
}
.checkbox {
  display : none;
}
.card-cell{
    height: 9rem !important;
    width: 9rem !important;
}
.card-cell:hover{
    background-color: red;
}
.card, .card-body{
    background-image: url(Tarkov_Bingo1-1.png);
    height; 62rem;
    width: 60rem;
    background-size: 60rem;
}
.break-div-1{
    height:23rem;
    width: 60rem;
}
.break-div-2{
    height:9rem;
    width: 7.5rem;
}
.break-div-3{
    height:7rem;
    width: 60rem;
}