body {
  background-color: #595959;
  color: #d9d9d9;
}
h1 {
  font-size: 1in;
  padding: 60px 30px 0px 30px;
  text-align: center;
}
.description {
  font-size: 2em;
  text-align: center;
}
.mainarea {
  text-align: center;
  padding: 20em 30px 0px 30px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: #262626;
  border-radius: 40px;
  transition: all 0.3s;
  transform: rotate(270deg);
  margin: 0px 2em 0px 2em;
}
.switch::after {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius:50%;
  background-color: #a6a6a6;
  top: 2px;
  left: 2px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left : 41px;
}
.checkbox:checked + .switch {
  background-color: #262626;
}
.checkbox {
  display : none;
}
